.RecipeInfo {
  height: 80vh;
  /* align-items: space-between; */
  /* justify-content: center; */
}

.RecipeInfoRow {
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}
