.titleBar {
  text-align: center;
  background-color: red;
  justify-content: center;
  line-height: 3rem;
  height: 3rem;
  margin: 4px;
}

.dateBar {
  text-align: center;
  line-height: 3rem;
  width: 100%;
  font-size: small;
  background-color: skyblue;
  height: 3rem;
}

.mealCard {
  margin: 1px;
}

.mealCardImageContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mealCardImage {
  width: 90px;
  height: 90px;
}

.mealTimeRow {
  padding-top: 8px;
}

.centeredCol {
  text-align: center;
}
.centeredRow {
  align-items: center;
}
